{% extends "core_templates/core_base.html" %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
<main id="core-home">

    <section id="core-home-1" class="bg-white">
      <div class="container px-4 py-5 my-5 text-center">
        <h1 class="nebulei-bold-font">Nebulei</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 nebulei-main-font-2">Advancing Humanity with the power of shared information.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'registrar-login' %}">
              <button type="button" class="nebulei-main-font-2 fw-bolder btn btn-outline-success btn-sm px-4 gap-3">Login</button>
            </a>
            <a href="{% url 'registrar-register' %}">
              <button type="button" class="nebulei-main-font-2 fw-bolder btn btn-success btn-sm px-4">Register</button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="core-home-2" class="py-5">
      <div class="container px-5 my-5">
          <div class="row gx-5">
              <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0 nebulei-bold-font">What makes us differ among other platforms?</h2></div>
              <div class="col-lg-8">
                  <div class="row gx-5 row-cols-1 row-cols-md-2">
                      <div class="col mb-5 h-100">
                          <h2 class="nebulei-main-font-2">Privacy & Incognito</h2>
                          <p class="mb-0 nebulei-main-font-2">
                            What you do on the internet is your business, so we do not keep any data for ourselves. See our soon to be coming out <a href="">Incognito</a> feature.
                          </p>
                      </div>
                      <div class="col mb-5 h-100">
                          <h2 class="nebulei-main-font-2">Publications</h2>
                          <p class="mb-0 nebulei-main-font-2">
                            Share your work, opinion and research among like minded people to keep you thinking and conscious of different ideas of the public.
                          </p>
                      </div>
                      <div class="col mb-5 mb-md-0 h-100">
                          <h2 class="nebulei-main-font-2">Free-Speech</h2>
                          <p class="mb-0 nebulei-main-font-2">
                            We believe there is a large wall of censorship, which is very troublesome to discuss every subject; it is a disruptive blockade to the birth of new inventions and discoveries.
                          </p>
                      </div>
                      <div class="col h-100">
                          <h2 class="nebulei-main-font-2">Debates & Competitions</h2>
                          <p class="mb-0 nebulei-main-font-2">
                            Have debates & competitions with individuals or amongst institutions. We believe this is the best possible solution to move foward and conquer hard problems.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="core-home-3" class="py-5">
    <div class="container">

      <div class="row featurette mt-5 mb-5">
        <div class="col-md-7 row align-items-center">
          <div class="my-5">
            <h3 class="text-center nebulei-bold-font">Discuss the greatest mysteries in all areas of study to find answers</h3>
          </div>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded" src="{% static 'core_styles/media/gifs/physics-1.gif' %}" width="500" height="500" role="img">
        </div>
      </div>

      <div class="row featurette mt-5 mb-5">
        <div class="col-md-7 order-md-2 row align-items-center">
          <div class="my-5">
            <h3 class="text-center nebulei-bold-font">Post publications of your work, research, hypothesis and more</h3>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded" src="{% static 'core_styles/media/gifs/history-1.gif' %}" width="500" height="500" role="img">
        </div>
      </div>

      <div class="row featurette mt-5 mb-5">
        <div class="col-md-7 row align-items-center">
          <div class="my-5">
            <h3 class="text-center nebulei-bold-font">Collaborate with other humans to Create, Invent, Discover, Debate, and more</h3>
          </div>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded" src="{% static 'core_styles/media/gifs/space-1.gif' %}" width="500" height="500" role="img">
        </div>
      </div>

      <div class="row featurette mt-5 mb-5">
        <div class="col-md-7 order-md-2 row align-items-center">
          <div class="my-5">
            <h3 class="text-center nebulei-bold-font">Be apart of a club/institution and have competitions with other similar clubs </h3>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded" src="{% static 'core_styles/media/gifs/philosophy-1.gif' %}" width="500" height="500" role="img">
        </div>
      </div>

    </div>
  </section>

</main>
{% endblock content %}
