{% extends "core_templates/core_base.html" %}
{% load static %}

{% block styles %}
    
{% endblock %}
<main id="500" class="nebulei-gradient-bg">
  <div class="container p-5" style="height: 100vh">

    <section id="500-1" class="p-5 mb-4 bg-light rounded-4 opacity-75 text-center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold nebulei-bold-font">Error 500</h1>
        <p class="nebulei-main-font">Theres a problem on our side, we're working on fixing it.</p>
      </div>
    </section>
  
  </div>
</main>
{% block content %}
